@model List<TaskList.Models.Table>
@{
	ViewBag.Title = "Summary";
}

@*@if (Request.IsAuthenticated)
{
	*@
	<body>
		<div class="container" id="page-wrap">
				<h1>Referater</h1>
			    
                <div class="form-group col-md-10">              
                        <a class="btn btn-primary" href="/Summary/Create"> <h4>Opret nyt referat</h4></a>            
                </div>
                <br />
				<div class="col-md-10">
					@{ foreach (TaskList.Models.Table summary in ViewData.Model)
						{
							if (summary.IsActive)
							{
							<div class="div-card">
								<h4>@summary.EntryDate.ToShortDateString()</h4>
								<h4>@summary.Title.ToString()</h4>
								<h5>@summary.Description.ToString()</h5>
								<h5>@summary.Author.ToString()</h5>
								<div>
									@if (User.Identity.IsAuthenticated)
									{
										<td>@Html.ActionLink("[Fjern]", "Delete", new { id = @summary.Id })</td>
									}
								</div>
							</div>
								}

							}
						}
				</div>
			</div>		
	</body>
