@model List<TaskList.Models.Task>

@{
	ViewBag.Title = "iTaskU";
}

@*@if (Request.IsAuthenticated && IdentityResult.Success.Succeeded)
{@**@
	<body>
		<br />
		<div class=container>
				<div class="tile_div">
					<div class="floatMid">
						<a class="round-button">ok</a>
						<a class="round-button">ok</a>
						<a class="round-button">ok</a>
						<a class="round-button">ok</a>
					</div>
			</div>
		</div>
		<br />
		<div class="container" id="page-wrap">
			<div class="floatRight">
				<div class="textarea-new">
					<h1>Afventende</h1>
					@{ foreach (TaskList.Models.Task task in ViewData.Model)
						{
							/*if (task.IsCompleted)
							{
								<div>
									<del>
										<br />
										@task.EntryDate.ToShortDateString()
										@task.Task1.ToString()
									</del>
								</div>
							}
							else*/
							if (!task.IsBegun)
							{
								<div class="textarea-new">
									<form>
										<h3>@task.EntryDate.ToShortDateString() @task.Task1.ToString() </h3> <wbr />
										<h4>@task.Description.ToString()</h4>
										<h4>@task.Author.ToString()</h4>
										<a href="/Home/Begin/@task.Id.ToString()"> <h4>Start Opgave</h4> <br /></a>
									</form>
								</div>
							}
						}
					}
				</div>

				<br /><br />
				<div class="form-group">
					<div class="col-md-10">
						<a class="btn btn-primary" href="/Home/Create"> <h4>Opret ny opgave</h4></a>
					</div>
				</div>
			</div>

			<div class="floatLeft">
				<div class="textarea-new">
					<h1>Afsluttede</h1>

					@{ foreach (TaskList.Models.Task task in ViewData.Model)
						{
							if (task.IsCompleted)
							{
								<div class="textarea-new">
									<del>
										<br />
										<h5>@task.EntryDate.ToShortDateString()</h5>
										<h5>@task.Task1.ToString()</h5>
										<h5>@task.Author.ToString()</h5>
									</del>
								</div>
							}
						}
					}
				</div>
			</div>

			<div class="floatMid">
				<div class="textarea-new">
					<h1>Igangværende</h1>
					@{ foreach (TaskList.Models.Task task in ViewData.Model)
						{
							if (!task.IsCompleted && task.IsBegun)
							{
								<div class="textarea-new">
									<form>
										<h3>@task.EntryDate.ToShortDateString() @task.Task1.ToString() </h3> <wbr />
										<h4>@task.Description.ToString()</h4>
										<h4>@task.Author.ToString()</h4>
										<a href="/Home/Complete/@task.Id.ToString()"> <h4>Afslut Opgave</h4> <br /></a>
									</form>
								</div>
							}
						}
					}
				</div>
			</div>
		</div>
	</body>@*
	}
	else
	{
		<h1>Venligst log ind <a href="/Account/Login/"> her</a></h1>
		Html.ActionLink("Login", "Account", "Home");
	}*@
