@using TaskList.Models
@model IEnumerable<Information>

@{
    ViewBag.Title = "Index";
}

<h2>Information</h2>
@Html.ActionLink("Opret Information", "CreateInformation")
@foreach (var item in Model)
{
    <div class="div-card">
        <div>
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <!-- Logged in users can deactivate informations -->
            @if (User.Identity.IsAuthenticated)
            {
                <td>@Html.ActionLink("[Fjern]", "DeactivateInformation", new { id = @item.Id })</td>
            }
        </div>
        @item.Created.ToString("D")
        <p>
            <div>
                @Html.DisplayFor(modelItem => item.Content)
            </div>
        </p>
    </div>
    <hr/>
}


<br/>

<h2>Sygemeldte</h2>

@Html.ActionLink("Sygemeld", "IsIll")

<table class="table">
    <tr>
        <th>Date</th>
        <th>Name</th>
    </tr>

    @foreach (Illness people in ViewBag.Ill)
    {
<tr>
            <td>@people.StartDate.ToString("D")</td>
            <td>@Html.DisplayFor(p => people.Name)</td>

            <!-- Logged in users can declare people ready agian -->
            @if (User.Identity.IsAuthenticated)
            {
                <td>@Html.ActionLink("Rask igen","FreshById",new {id = @people.Id })</td>
            }
        </tr>
    }
</table>